* {
	font-family: "Noto Serif", "Times New Roman", serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(#f5f5f5, #3a485031);
	margin: 0;
	min-width: 18em;
	overflow-x: hidden;
}

.bold {
	font-weight: bold;
}

/* set hero page to 100vh */
#heroview {
	height: 100vh;
	min-height: 25em;
}

header {
	text-align: center;
	padding: 3%;
	height: 5%;
	min-height: 2em;
}

.logo {
	font-size: 2em;
	color: #191919;
}

nav {
	display: none;
}

/* CSS to edit the hero of the page. */
.hero {
	background-image: linear-gradient(
			rgba(216, 198, 189, 0.2),
			rgba(0, 0, 0, 0.5)
		),
		url("images/hero.jpg");
	height: 92.5%;
	width: 100%;
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 15em;
	position: relative;
}

.hero .slogan {
	text-align: center;
	color: #f5f5f5;
	font-size: 1.6em;
	margin-bottom: 0;
}

/* learn more button on hero image */
.hero .buttons ul {
	list-style: none;
	padding-left: 0;
}

.hero .buttons li {
	text-align: center;
	width: 50%;
	margin: 5px auto;
	padding: 0.8em;
	background-color: #475055;
	border-radius: 5vh;
	min-width: 8em;
	max-width: 11em;
}

.hero .buttons a {
	text-decoration: none;
	color: #fff;
}

.hero .buttons li:hover {
	transition: ease-in-out 0.3s;
	opacity: 1;
	background-color: #3a4850;
}

/* scroll icon on hero image */
.hero .scroll-icon {
	height: 3em;
	position: absolute;
	margin: auto;
	top: 80%;
	left: 0;
	right: 0;
	bottom: 0;
}

/*main content here*/
h2 {
	margin: 3% auto auto auto;
	color: #3a4850;
	width: 80%;
	text-align: center;
}

/* main content a little bit about cambodia */
main .item1 {
	width: auto;
	height: 40vh;
	min-height: 26em;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(rgba(32, 30, 28, 0.5), rgba(0, 0, 0, 0.5)),
		url("images/independence1.jpg");
	background-position: center center;
	background-repeat: none;
	background-size: cover;
}

.image-item1 h2 {
	color: #f5f5f5;
}

.image-item1 {
	width: 90%;
	height: 80%;
	background-color: #3a48502c;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main .image-item1 p {
	color: #f5f5f5;
	width: 90%;
	margin: auto;
}

/* main item 2 common cultures and traditions */

main .item2 {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 3%;
}

.grid-item2 {
	height: auto;
	width: 90%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	margin-top: 3%;
}

main .item2 figure {
	margin: 0 0 2em 0;
	background-color: #3a4850;
	box-shadow: 12px 12px 2px 1px #db984a;
}

main figcaption {
	text-align: center;
	margin: 0.5em;
	color: #f5f5f5;
}

.grid-item2 img {
	width: 100%;
}

/* Buttons for each of the figure in item 2 */
main .btn {
	text-align: center;
	width: 30%;
	margin: 0.8em auto;
	padding: 0.8em;
	background-color: #faebd7;
	border-radius: 5vh;
	min-width: 8em;
	max-width: 11em;
}

main .btn a {
	text-decoration: underline;
	color: #3a4850;
}

main .btn:hover {
	transition: ease-in-out 0.3s;
	background-color: #e6c7a5;
}

/* main item3 with picture gallery of common destinations with grid display*/
main .item3 {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* setting content to center */
.item3 .item3-content {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item3 img {
	width: 40%;
}

.item3 h2 {
	margin: 0;
}

.item3 p {
	width: 90%;
	text-align: center;
}

/* adding gallery */
.grid-item3 {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	margin-bottom: 2em;
}

.grid-item3 img {
	width: 100%;
}

/*map of cambodia from google*/
.map {
	width: 90%;
	height: 40vh;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;
}

.map iframe {
	width: 100%;
	height: 100%;
}

/* footer content */
footer {
	background-color: #faebd7;
	padding: 0.5em 0 2em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

footer a {
	text-decoration: none;
}

/* Back to top button */
.back-top {
	padding: 0.6em;
	width: 8em;
	text-align: center;
	margin: 0.5em;
	font-size: 0.7em;
	background-color: #3a4850;
	border-radius: 1.5vh;
	color: #fff;
	opacity: 0.8;
}

.back-top:hover {
	opacity: 1;
	transition: ease-in-out 0.3s;
}

/* secondary navigation bar at the footer */
.secondary-navbar ul {
	padding-left: 0;
	list-style: none;
	margin: 0;
	margin-bottom: 0.5em;
}

.secondary-navbar li {
	text-align: center;
	font-size: 1em;
	padding: 0.2em;
}

.secondary-navbar li a {
	text-decoration: none;
	color: #3a4850;
}

.secondary-navbar li a:hover {
	color: #191919;
}

/* copyright and link to email */
.footer-copyright {
	font-size: 0.7em;
	background-color: #3a4850;
	width: 100%;
	text-align: center;
	color: #f5f5f5;
	padding: 0.4em;
}

.footer-copyright a {
	text-decoration: none;
	color: #f5f5f5;
}

.footer-copyright a:hover {
	color: #faebd7;
}

/* media queries */
@media (min-width: 550px) {
	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #faebd7;
		height: 9%;
		min-height: 5em;
		padding: 0;
	}

	.logo {
		font-size: 1.5em;
	}

	nav {
		display: block;
	}

	nav ul {
		padding: 0;
		text-align: center;
		margin: 0.8em 0;
	}

	nav li {
		display: inline;
		padding: 0.8em;
	}

	nav li a {
		text-decoration: none;
		color: #191919;
	}

	nav li:hover,
	a:hover {
		color: #3a4850;
	}

	nav .btn {
		padding: 0.6em 0.8em;
		background-color: #475055;
		border-radius: 5vh;
	}

	nav .btn a {
		color: #f5f5f5;
	}

	nav .btn:hover {
		background-color: #3a4850;
	}

	.hero {
		height: 91%;
	}

	.hero .slogan {
		font-size: 2.5em;
	}

	.image-item1 {
		width: 90%;
		height: 80%;
	}

	h2 {
		width: 80%;
		font-size: 1.6em;
		margin-bottom: 0;
		color: #3a4850;
	}

	main .image-item1 p {
		color: #f5f5f5;
		width: 75%;
	}

	.secondary-navbar li {
		display: inline;
		margin: 0.3em;
	}

	.item3 img {
		width: 30%;
	}

	.item3 p {
		width: 75%;
		text-align: center;
	}

	.grid-item3 img {
		width: 100%;
	}
}

@media (min-width: 700px) {
	h2 {
		font-size: 2.2em;
	}

	.grid-item2 {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	main .item2 figure {
		margin: 0;
	}

	#item2-1 {
		margin-right: 1em;
	}

	#item2-2 {
		margin: 0 0.5em;
	}

	#item2-3 {
		margin-left: 1em;
	}

	.grid-item3 {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.grid-item3 img {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		height: 7%;
		min-height: 3.5em;
	}

	.logo {
		padding-top: 0;
	}

	.hero {
		height: 93%;
	}

	.image-item1 {
		width: 90%;
	}

	h2 {
		width: 80%;
		font-size: 2.3em;
	}

	main .image-item1 p {
		width: 50%;
	}

	.item3 img {
		width: 20%;
	}

	.item3 p {
		width: 50%;
		text-align: center;
	}

	.grid-item3 {
		width: 90%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
	}

	.grid-item3 img {
		width: 100%;
		filter: grayscale(0.4);
	}

	.grid-item3 img:hover {
		filter: grayscale(0);
	}
}
